<!DOCTYPE html>
<html>

<head>
    <title>Ask Me</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>eElectronics - HTML eCommerce Template</title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/app.css">
    <link rel="stylesheet" href="/styles/font.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
</head>

<body>
        <%- body %>
   


    <!--SCRIPTS-->
    <script src="/dependencies/sails.io.js"></script>
    <script src="/js/app.src.js"></script>
    <script src="/js/ui-client.js"></script>
    <script src="/js/ui-jp.config.js"></script>
    <script src="/js/ui-jp.js"></script>
    <script src="/js/ui-load.js"></script>
    <script src="/js/ui-nav.js"></script>
    <script src="/js/ui-toggle.js"></script>
    <!--SCRIPTS END-->

</body>

</html>